body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: pink;
}

header {
    background-color: purple;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: black;
}
section {
    padding: 20px;
    text-align: center;
}

.product {
    display: inline-block;
    margin: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
}

.product img {
    width: 100%;
    height: auto;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: purple;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
.container {
    display: flex;
    align-items: center; /* Alignement vertical */
  }
  .texte{
    text-align:center;
    
  }



/* contact */

/* Style pour le titre */
h1 {
    color: #333;
    text-align: center;
}

/* Style pour le formulaire */
form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 500px;
    margin: 20px;
}

/* Style pour les labels */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

/* Style pour les champs de texte et les zones de texte */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style pour le bouton de soumission */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
